.form-Modal {
	.modal-header {
		color: $mainColorwhite;
		background-color: $mainColorRed;

		.close {
			background-color: #B87073;
			color: $mainColorwhite;
			margin: -11px -11px -15px auto;
			padding: 12px;
			opacity: 1;

			& span {
				vertical-align: text-top;
			}
		}
	}

	.form-button {
		&_send {
			text-align: center;

			.send-button {
				color: $mainColorwhite;
				background-color: $mainColorRed;

				&:hover {
					background-color: darken($mainColorRed, 4%);
				}
			}
		}
	}
}
