@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.destaque-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 549px);
  grid-auto-flow: dense;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center; }
  .destaque-content_card {
    display: flex;
    flex-direction: row;
    border: 1px solid; }
    .destaque-content_card .card-img {
      width: 280px;
      background-color: #fff;
      margin-top: 0;
      position: relative; }
      .destaque-content_card .card-img_text {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        border: 1px solid; }
        .destaque-content_card .card-img_text .text-p {
          margin-bottom: 0; }
    .destaque-content_card .card-text {
      width: 100%;
      padding: 0 20px; }
      .destaque-content_card .card-text_title .title-p {
        margin: 0;
        font-size: 13pt;
        font-weight: bold;
        text-transform: capitalize; }
      .destaque-content_card .card-text_details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 100px);
        grid-auto-flow: dense;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center; }
        .destaque-content_card .card-text_details .details-p {
          margin-bottom: 0;
          font-size: 10pt; }
      .destaque-content_card .card-text_valor {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #9D3035; }
        .destaque-content_card .card-text_valor > P {
          margin-bottom: 0; }
        .destaque-content_card .card-text_valor [type="button"] {
          border-radius: 20px; }
